## 여러개 입력처리

In [2]:
#split() 은 문자열을 자동으로 구분해서 나누어줌 # 기본값은 space bar
a = 'red green blue'
a.split()

['red', 'green', 'blue']

In [5]:
b ='red,green,blue'
b.split(',')  # 나누고자 하는 기준을 ,로 설정

['red', 'green', 'blue']

In [6]:
string = input ('빛의 3원색을 빈칸으로 구분하여 입력하세요.')
string

'빨강 초록 파랑'

In [9]:
r,g,b = string.split()
r,g,b #리스트 언패킹 #튜플 패킹

('빨강', '초록', '파랑')

In [11]:
# 리스트의 원소 각각에 함수를 적용하고 싶은 경우 : map(원소의 자료형, 리스트명)
numbers = ['3.1','2.4','8.5']
list(map(float, numbers))

[3.1, 2.4, 8.5]

In [15]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [18]:
string = input('실수 세대를 빈칸으로 구분하여 입력하시오')
string

'3.1 2.4 8.5'

In [24]:
list(map(float, input('실수 세개 입력').split()))

[3.1, 2.4, 8.5]

In [ ]:
x, y, z = [3.1, 2.4, 8.5]
x, y, z

In [8]:
x, y, z = list(map(float, input('실수 세개 입력').split()))
x,y, z

(3.1, 2.4, 8.5)

In [40]:
x,y,z = map(float,numbers)
x,y,z

(3.1, 2.4, 8.5)

In [ ]:
x, y, z = list(map(float, input('실수 세개 입력').split()))
x,y, z

## 추가사항

In [30]:
# range(시작, 끝, 증가분)을 의미하는 데, 인수가 한개밖에 없을때 끝값 +1을 의미
list(range(5)) # 0부터 4(끝값 +1))까지

[0, 1, 2, 3, 4]

In [34]:
# 1~10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# 1~10, 홀수
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [1]:
# 1~10, 짝수
list(range(10,1,-2))

[10, 8, 6, 4, 2]

### quiz

In [10]:
#두개의 정수를 입력받아 첫번째 값에서 부터 두번째 값까지 출력
 #a,b = map(input().split())
x, y = map(int, input('두개의 정수 입력하세요').split())
x, y

(5, 10)

In [11]:
print(list(range(x,y+1)))  #입력받은 두 값에 대해 첫번째~ 두번째 값까지 출력

[5, 6, 7, 8, 9, 10]