# 7장 자료 구조

## 1 . 스택(Stcak)  |_|

In [3]:
stack= [1,2,3]
stack.append(4) # push역할
stack

[1, 2, 3, 4]

In [4]:
#제일 위의 것 내보내기
stack.pop()

4

In [6]:
# pop 한 것 사라졌음
stack

[1, 2, 3]

In [12]:
#입력한 문자열을 거꾸로 출력

word = input('단어입력')
word_list = list(word)  #string은 pop 이 없음. pop()은 list의 메소드임
print(word_list)

result=[] #리스트
for i in range(len(word_list)):
    result.append(word_list.pop()) # pop()은 가장 나중의 것을 맨 처음으로 출력
print(result)

['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']

In [18]:
string1= 'hello '
string1.count('l')

2

## 2. 큐(Queue) | |

In [29]:
queue = [1,2,3,4,5]
queue.pop(0) # 1

1

In [30]:
queue # queue.pop(0)에 의해 1을 pop했으므로 나머지만 남음

[2, 3, 4, 5]

In [31]:
queue.pop(2) # 남은 queue의 2번쨰 인덱스의 값은 4임

4

## 3. 튜플(Tuple)

In [33]:
# 튜플 쓰기
t = (1,2,3)  #case1
st = tuple('word') #case2
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [35]:
# 이렇게 써도(괄호가 없어도) 튜플로 인식
t = 1, 2, 3
t

(1, 2, 3)

In [37]:
t.count(1) #

1

In [38]:
# 튜플은 재할당을 지원하지않음. 만드는 순간 계속 고정, 불변
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [40]:
# 단순 assignment 가 아니라, 튜플을 unpacking해서 값을할당한 것임
a,b,c = 0,0,0

### - What i keep getting confused 
### * string_or_tuple_etc.count('해당문자') : 해당문자가 포함되는 빈도수를 구함 
### * list.len() : 리스트의 길이를 반환`

In [48]:
# 시퀀스 자료형이므로 for문에서 사용가능1
print(t)
 
for element in t:
    print(element)

(1, 2, 3)
1
2
3

## 4. 세트(set)

In [51]:
# 리스트 형태로 만들어 넣음 : set( 리스트 )

s = set([1,2,3,1,2,3])
s

{1, 2, 3}

In [63]:
# 튜플 형태로 만들어 넣음 :set( 튜플 )
s= set((1,2,3))
s

{1, 2, 3}

### - 세트는 튜플과 다르게 다양한 함수의 지원으로 삭제나 변경이 가능

In [64]:
# add(추가할 원소) : 원소 추가
s.add(4)
s

{1, 2, 3, 4}

In [65]:
# 기존에 있는 원소는 중복으로 추가하지 않음
s.add(1)
s

{1, 2, 3, 4}

In [58]:
# update( 리스트 ) : 리스트에 기존세트에 없는 새로운 값이 있다면 추가함
s.update([1,3,5,7])
s

{1, 2, 3, 4, 5, 7}

In [59]:
#remove(삭제할 원소) : 해당 원소를 삭제함
s.remove(7)
s

{1, 2, 3, 4, 5}

In [61]:
s.discard(3)
s

{1, 2, 4, 5}

In [62]:
s.clear()
s

set()

## #튜플과 세트

### 합집합 union

s1 union s2 : 안됨
union (s1,s2) : 안됨

s1.union(s2)  # 이렇게만 사용 가능

In [69]:
s1 = set(range(1,6))
s2 = set(range(3,8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [70]:
s1.union(s2)  # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [79]:
s1,s2 #union한다고 해서 기존 set에 영향을 미치는 것이 아님을 확인

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [80]:
# | 로 표현 가능 
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

### 교집합 intersection

In [77]:
s1.intersection(s2)

{3, 4, 5}

In [78]:
# &으로도 표현가능
s1 & s2

{3, 4, 5}

### 차집합 difference

In [74]:
s1.difference(s2)

{1, 2}

In [75]:
#차집합의 경우, -로도 표현가능, cf) 합집합은 +로 표현불가

s1 -s2

{1, 2}

In [82]:
# for문에서 set 사용가능함을 확인
for i in s1 :
    print(i)

1
2
3
4
5